
<!-- post is the method for going to the /quote page -->
<form method="post" action="/quote" >

<!-- the form with a "quote_symbol" variable -->
<div>
  Enter a company: </br>
  <input type="text" name="quote_symbol"/>
  </div>

  <div>
  <input type="Submit">
  </div>
</form>



