
<a href="/">Request another quote.</a>
<div style="border: solid 2px blue">

    <div>
      Company: </br>
        <%= @quote_symbol %>
    </div>
    <div>
      Stock price: </br>
        <%= @quote %>
    </div>

</div>

