<!DOCTYPE html>
<html>
<head>
</head>

<body style="
  background-color: lightblue;
  font-size: 30px;
  font-weight: bold;
  font-family: futura;
  text-align: center;
  margin-top: 150px">

<%= yield %>

</body>
</html>